.every_day {
    background:#fff;
    width:96%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 3px 4px 3px #888;
    padding:10px 15px;
    font-size:12px;
}
.every_day::before {
    font-family: MyIcon;
    content: "\e122";
    font-size:12px;
    color:slateblue;
    position:relative;
    display: inline-block;
    left:74px;
}
.every_day > span {
    display: inline-block;
    font-size:12px;
    margin-bottom:5px;
    color:slateblue;
}
.article_list {
    width:100%;
    border-radius: 5px;
}
.article {
    margin-top:15px;
    background:#fff;
    display: inline-block;
    width:100%;
    box-shadow: 1px 2px 2px #888;
    overflow: hidden;
    text-align: left;
}
.article_title {
    display: inline-block;
    text-decoration: none;
    font-size:20px;
    padding:20px 10px 5px 10px;
}
.article_title:hover{
    color:#337ab7;
    cursor: pointer;
}
.article_content {
    color:#13102b;
    font-size:14px;
    padding:0px 10px 20px 10px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}
.article_foot{
    color:#eee;
    background:#000;
    padding: 5px;
}
